* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
}

p {
  color: gray;
}

body {
  background-color: black;
}

header {
  background-color: rgb(45, 45, 45);
}
